## Settings file was created by plugin AutoAimTurretMod v1.0.0
## Plugin GUID: com.ironnest.autoaimturret

[Aiming]

## Maximum distance to aim at enemies
# Setting type: Single
# Default value: 500
MaxAimDistance = 500

## Yaw angle offset in degrees
# Setting type: Single
# Default value: 0
YawOffset = 0

## Pitch angle offset in degrees
# Setting type: Single
# Default value: 0
PitchOffset = 0

DeadZone = 3

RotationSpeed = 180

[General]

## Enable automatic turret aiming
# Setting type: Boolean
# Default value: false
EnableAutoAim = true

ToggleKey = F1

DiscoverKey = F2

